@import "../../theme/";

.background-container {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: $space-lg;
    position: relative;
    margin-bottom: $space-lg;
    border-radius: $border-radius;
};