@import "../../theme/";

.page-not-found {
	width: 90%;
	height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px;
    margin: auto;
    position: absolute;

    h1 {
        color: $gray-medium-color;
        font-size: $text-size-xlg;
        line-height: 63px;
        text-align: center;
    }
};