@import "../../theme/";

.primary-button {
    background-color: $blue-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;

    .button-text {
        font-size: $text-size-sm;
        color: white;
        border: none;
    };
};