// Colors
$yellow-color: #FFE600;
$gray-dark-color: #333333;
$gray-medium-color: #666666;
$gray-light-color: #999999;
$blue-color: #3483FA;
$background-color: #EEEEEE;

// Fonts
$font-family: 'Inter', system-ui, 'Avenir', Helvetica, Arial, sans-serif;

$text-size-xs: 12px;
$text-size-sm: 14px;
$text-size-md: 18px;
$text-size-lg: 24px;
$text-size-xlg: 46px;


// Others Styles
$border-radius: 4px;

$space-sm: 16px;
$space-lg: 32px;